/* Write your CSS here */
.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  border: 2px solid salmon;
  border-radius: 5px;
  color: red;
  font-size: 15px;
  padding: 8px;
  margin: 5px;
}

.title {
  font-size: 17px;
}
