/* Write your CSS here */
.app-container {
  background-color: #ffc2a0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.simple-todos-container {
  background-color: white;
  margin: 10px;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
